body {
	display: flex;
	justify-content: center;
	background-color: rgb(224, 224, 224);
}


button{
	background: #00e065;
	background-image: -webkit-linear-gradient(top, #00e065, #1ebd68);
	background-image: -moz-linear-gradient(top, #00e065, #1ebd68);
	background-image: -ms-linear-gradient(top, #00e065, #1ebd68);
	background-image: -o-linear-gradient(top, #00e065, #1ebd68);
	background-image: linear-gradient(to bottom, #00e065, #1ebd68);
	-webkit-border-radius: 21;
	-moz-border-radius: 21;
	border-radius: 21px;
	font-family: Arial;
	color: #ffffff;
	font-size: 17px;
	padding: 10px 20px 10px 20px;
	text-decoration: none;
}
button:hover {
	background: #0bc25e;
	background-image: -webkit-linear-gradient(top, #0bc25e, #149c51);
	background-image: -moz-linear-gradient(top, #0bc25e, #149c51);
	background-image: -ms-linear-gradient(top, #0bc25e, #149c51);
	background-image: -o-linear-gradient(top, #0bc25e, #149c51);
	background-image: linear-gradient(to bottom, #0bc25e, #149c51);
	text-decoration: none;
	cursor: pointer;
  }

.search {
	display: flex;
	justify-content: center;
	
}
.search input {
	border-radius: 40px;
	margin: 10px;
}
.search img{
	display: flex;
	justify-content: center;
	cursor: pointer;
}
.movieContainer{
	background-color: #1ba559;
	display: flex;
	flex-direction: column;
	align-items: center;
	overflow: hidden;
	
}
body{
	overflow-x: hidden;
}
.container {
	max-width: 80vw;
	border-radius: 20px;
	background-color: rgb(224, 224, 224);
	display: flex;
	overflow-x: auto;
	margin: 10px;
	padding: 10px;
	font-weight: bold;
	/* overflow: hidden; */
}

.container img {
	width: 300px;
	margin: 10px;
	min-height: 100px;
	
 } 

.container p {
	font-size: 20px;
	padding: 0px;
	margin: 1px;
} 

.movie {
	margin: 10px;
	border-radius: 30px;
	background-color: #eee;
	box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}
#deleteBtn{
	background-color: red;
	border: none;
	background-image: none;
}
#deleteBtn:hover{
	background-color: rgb(167, 1, 1);
	border: none;
	background-image: none;
}
.usernames{
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-content: center;
	align-items: center;
	align-self: center;
	transition: 2s;
	background-color: #1ba559;
}
.listnames{
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-content: center;
	align-items: center;
	align-self: center;
	transition: 2s;	
	display: none;
}


.contain p {
	display: flex;
	flex-wrap: wrap;
	padding: 0px 5px;
	transition: 2s;
	font-weight: 600;
}

.showlist {
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-content: center;
	align-items: center;
	align-self: center;
	transition: 2s;
}

.showContain{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	max-width: 25%;
	height: 100%;
	background-color: #eee;
	border-radius: 30px;
	border: 1px solid #123231;
	box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
	margin: 10px 0px 0px 0px;
	font-weight: 500;
	animation: example 0.2s;
	/* overflow: hidden; */
}
.hideContain{
	display: flex;
	overflow: hidden;
	flex-wrap: wrap;
	justify-content: center;
	width: 25%;
	background-color: #eee;
	border-radius: 30px;
	/* border: 1px solid #123231; */
	box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
	margin: 10px 0px 0px 0px;
	font-weight: 500;
	height: 0vh;
  }
  .userListItem{
	max-width: 100%;
	min-width: 50%;
  }
  .userListItem:hover{
	background-color: #ebebeb;
	border-radius: 50px;
	box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
	cursor: pointer;
  }
 
  @keyframes example {
	0%   {transform: scale(0);}
	25%  {transform: scale(0.25);}
	50%  {transform: scale(0.5);}
	75%  {transform: scale(0.75);}
	100% {transform: scale(1);}
  }
