body {
	display: flex;
	justify-content: center;
	background-color: rgb(224, 224, 224);
}

.search {
	display: flex;
	justify-content: center;
	
}
.search input {
	border-radius: 40px;
	margin: 10px;
}
.search img{
	display: flex;
	justify-content: center;
	cursor: pointer;
}

.container {
	max-width: 80vw;
	background-color: rgb(224, 224, 224);
	display: flex;
	overflow-x: auto;
	margin: 10px;
	padding: 10px;
	font-weight: bold;
}

.container img {
	max-width: calc(230px+1em);
	margin: 10px;
	min-height: 300px;
		
}

.container p {
	font-size: 20px;
	padding: 0px;
	margin: 1px;
}

.movie {
	margin: 10px;
	border-radius: 30px;
	background-color: #eee;
	box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}